<h1>Stats Chart</h1>
<div class="fluid-container">
    <h3>SIP</h3>
    <nvd3 class="SIP" options="vm.options.SIP" api="vm.chartAPI.SIP" data="vm.chartData.SIP" on-ready="chart.callback"></nvd3>
    <h3>TF</h3>
    <nvd3 class="TF" options="vm.options.TF" api="vm.chartAPI.TF" data="vm.chartData.TF" on-ready="chart.callback"></nvd3>
    <h3>CASS</h3>
    <nvd3 class="CASS" options="vm.options.CASS" api="vm.chartAPI.CASS" data="vm.chartData.CASS" on-ready="chart.callback"></nvd3>
</div>
